body {
    background-color: gray;
    margin: 0;
    padding: 0;
}

#banner img {
    width: 100%;
}

main {
    padding: 0;
}

.card-img {
    border: 10px solid rgb(70, 69, 69);
    border-radius: 50%;
    height: 200px;
    margin: 50px;
}

.img-holder {
    text-align: center;
}